<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>About <Meta></Meta></title>
</head>
<body>
   <h1>Stretch Challenge</h1>
   <p>My name is Yvette Johnson and I am taking course 310 this semester.  At the beginning of this course we had to pick 6 different modules to learn the skills and show what we have learned in projects like this.</p>
   <p>It demonstrates how a view and a template can render content when a user visits a new URL and enters their information.</p>
   <a href="{% url 'home' %}">Home</a
</body>
</html>